@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}
body {
    background: rgba(8, 17, 45, 0.87);
    /*filter: blur(100px);*/
}
